html, body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 15;
    padding: 0;
  }
  
  .item__title {
    font-size: 15px;
    text-align: left;
  }
  
  .item__contet {
    text-align: left;
  }
  
  .item__box{
    padding: 5%;
  }